td{
  height: 30px;
  width: 30px;
  border: black solid 1px;
  background-color: blue;
}

h1 {
  text-align: center;
}

table{
  border-collapse: collapse;
  margin: auto;
}

.ship {
  background-color: black;
}



.hit {
  background-color: red;
}

.miss {
  background-color: white;
}
