td{
  height: 30px;
  width: 30px;
  border: black solid 1px;
  background-color: blue;
}

#header{
  background-color: blue;
  color: white;
  text-align: center;
}

table{
  border-collapse: collapse;
  margin: auto;
}

.ship {
  background-color: black;
}

#targetsHeader, #myRemainingShips {
  text-align: center;
  color: white;
  background-color: black;
}

#myShipsHeader{
  text-align: center;
  color: white;
  background-color: black;
}

.sunk {
  color: red;
  text-decoration: line-through;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

#rightBox, #myBox{
  background-color: #a3c1ad;
  padding: 10px;
  color: black;
  height: 300px;
  border: black solid 2px;
}

#audio {
  visibility: hidden;
}
